
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
html {
    scroll-behavior: smooth;
}
 
body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #38be0f;
    color: white;
    text-align: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

.contact-link {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
}

.contact-link i {
    margin-right: 0.5rem;
}

.contact-link:hover {
    color: #38be0f;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}